@font-face {
    font-family: regular;
    src: url(../public/Geist-Medium.otf);
}

@font-face {
    font-family: semibold;
    src: url(../public/Geist-SemiBold.otf);
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #18181B
}